

<form action="/user/<%= @specific_user.id %>" method="post">
  <input type="hidden" name="method" value="PUT">
  <input type="text" name="edit first_name" value="<%= @specific_user.first_name %>">
  <input type="text" name=" edit last_name" value="<%= @specific_user.last_name %>">
  <input type="text" name=" edit email" value="<%= @specific_user.email %>">
  <input type="text" name=" edit birthday" value="<%= @specific_user.birthday%>">
  <input type="submit" value="Edit Account" style="width:100px;height:100px">
</form>

<h1>Warning, once you click delete account the water will remain flat.</h1>

<form action="/user/<%= @specific_user.id %>" method="post">
  <input type="hidden" name="_method" value="DELETE">  
  <input type="submit" value="Delete Account" style="width:100px;height:20px;">
</form>

